* {
    padding: 0;
    margin: 0;
    border: 0;
    transition: .05s
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,:active {
    outline: none
}

a:focus,a:active {
    outline: none
}

nav,footer,header,aside {
    display: block
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    
    font-weight: inherit
}

@font-face {
    font-family: gteestiprodisplay-regular;
    src: local('GT Eesti Pro Display - Regular'),url(fonts/ClashDisplay-Regular.ttf) format('opentype')
}

@font-face {
    font-family: gteestiprodisplay-medium;
    src: local('GT Eesti Pro Display - Medium'),url(fonts/ClashDisplay-Medium.ttf) format('opentype')
}

@font-face {
    font-family: gteestiprodisplay-bold;
    src: local('GT Eesti Pro Display - Bold'),url(fonts/ClashDisplay-Bold.ttf) format('opentype')
}

@font-face {
    font-family: inter;
    src: local('Inter'),url(fonts/Inter.woff) format('woff')
}

:root {
    --main_color: #fff;
    --dark_color: #0C1525;
    --light_color: #F1F2F5;
    --stable_dark: #0C1525;
    --stable_light: #F1F2F5;
    --orange: #e65011;
    --yellow: #FCAB06;
    --blue: #19A0FB;
    --green: #30A760;
    --green_light: #63A74C;
    --red: #E10000;
    --red_light: #CA3940;
    --border: #0c152525;
    --fsize1: 85px;
    --fsize2: 64px;
    --fsize3: 48px;
    --fsize4: 42px;
    --fsize5: 32px;
    --fsize6: 26px;
    --fsize7: 24px;
    --fsize8: 21px;
    --fsize9: 18px;
    --fsize10: 15px;
    --row0: 99%;
    --row1: 92%;
    --row2: 85%;
    --row3: 82%;
    --header_buttons_width: 50px;
    --header_height: 60px;
    --auth_width: 426px;
    --auth_input_width: 317px;
    --setup_width: 477px;
    --setup_input_width: 317px
}

[data-theme=light] {
    --main_color: #fff;
    --dark_color: #0C1525;
    --light_color: #F1F2F5;
    --orange: #e65011;
    --yellow: #FCAB06;
    --blue: #19A0FB;
    --green: #30A760;
    --green_light: #63A74C;
    --red: #E10000;
    --red_light: #CA3940;
    --border: #0c152525;
    --red_transparent: #E100001A
}

[data-theme=dark] {
    --main_color: #0C1525;
    --dark_color: #F1F2F5;
    --light_color: #0C1525;
    --orange: #e65011;
    --yellow: #FCAB06;
    --blue: #19A0FB;
    --green: #30A760;
    --green_light: #63A74C;
    --red: #E10000;
    --red_light: #CA3940;
    --border: #ffffff20
}

body {
    font-family: -apple-system,gteestiprodisplay-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    color: var(--dark_color);
    background-color: var(--main_color)
}

img {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media(min-width: 0) and (max-width:1440px) {
    :root {
        --header_height: 50px;
        --auth_width: 370px;
        --auth_input_width: 270px;
        --setup_width: 370px
    }
}
/*width*/
body::-webkit-scrollbar {
    width:0px;
  }
  
  /*track*/
  body::-webkit-scrollbar-track {
    background:transparent;
  }
  
  /*thumb*/
  body::-webkit-scrollbar-thumb {
    background:transparent;
  }